*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin:0;
}



a{
    text-decoration: none;
    color: white;
}


.head-div{
    width:100%;
    height:600px;
}

.inner-head-div{
    float: left;
    width:100%;
    height:550px;
    overflow: hidden;
    position: relative;
    background: rgb(100, 46, 236);
    border:0px solid green;
    clip-path:polygon(
        0 0,
        100% 0,
        100% 65%,
        0 100%
        );
}

header{
    width:100%;
    height:60px;
    border-bottom: 1px solid gray;
    padding-right: 50px;
    padding-left: 200px;
}

header img{
    margin:10px;
}

.anch-div{
    float: right;
    padding:20px;
}

.anch-div a{
    padding:20px;
}

.sp-col{
    color:rgb(100, 46, 236);
}

.first-sys-div{
    color:white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}




.inner-sys-div{
    padding:20px;
}

.inner-sys-img{
    display: flex;
    flex-direction: row;
}

.inner-sys-img img{
    width:300px;
}


#ssi{
    Width:71.67px;
    Height:71.67px;
    
}

.rectangs{
    display: flex;
    position: absolute;right:0;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.rectangs img{
    width:110px;
    visibility: hidden;
}

#tsi{
    width:250px;
    visibility: visible;
    position: relative;
}

#fosi{
    visibility: visible;
    position: absolute;right:0;top:80px;
}


#fisi{
    visibility: visible;
    position: absolute;right:0;top:150px;
    width:200px;
}

#sisi{
    position: absolute;right:0;bottom:0;top:260px;
    visibility: visible;
}

.first-main-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%;
    height:400px;
    padding:30px;
    align-items: center;
}

.first-white{
    width:auto;
    height:auto;
    border-radius: 10px;
    padding:20px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px gray;
}

.o-fir-white{
    width:auto;
    padding:20px;
    height:auto;
   
}


.o-fir-white h1{
    /* A Better Team with a good and Quality Service */
    
        width: 760px;
    
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 42px;
    
        color: #3C3C3C;
    
    /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
}


.sec-main-div{
    
    width:auto;
    height:auto;
    text-align: center;
    padding:30px;
}

.sec-white{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sec-white div{
    
    padding:20px;
    box-shadow: 0px 0px 10px 0px gray;
    border-top:4px solid rgb(100, 46, 236);
    border-radius: 5px;    
    margin:20px;
}


.thr-main-div{
    
    width:auto;
    height:700px;
    padding:30px;
    display:flex;
    background: #FBFBFB;
    border: 1px solid #F2F2F2;
    flex-direction: row;
    justify-content: space-evenly;
}

.thr-white{
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.thr-white div{
    padding:5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px gray;    
}

.thr-white div p{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.sec-thr-white{
    display: flex;
    width:45%;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.sec-thr-white h1{
    /* What They Think of Logix */

    width: 577px;
    height: 155px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 62px;
    color: #3C3C3C;
    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}


.fth-main-div{
    width:auto;
    height:400px;
    padding:60px;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fth-main-div h1{
    width: 746px;
    height: 63px;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    color: #3C3C3C;
}

.fth-main-div input{
    color:rgb(100, 46, 236);
    padding:10px;
    border-radius: 10px;
    background: whitesmoke;
}

.fth-main-div button{
    background: rgb(100, 46, 236);
    color:white;
    padding:10px;
    border-radius: 10px;
    width:100px;
}



.foot-div{
    width:100%;
    height:auto;
}

.inner-foot-div{
    width:100%;
    height:auto;
    background: rgb(100, 46, 236);
    overflow: hidden;
    position: relative;
    border:1px solid green;
    clip-path:polygon(
        0 40%,
        100% 0,
        100% 100%,
        0 100%
    );
    color: white;

}

.fir-foot{
    margin-top: 100px;
    padding: 80px 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.fir-foot input{
    padding:15px;
    color:white;
    background: rgba(130, 46, 255,0.5);
    border-radius: 10px;
    margin:5px;
}

footer{
    width:100%;
    height:60px;
    border-top:1px solid gray;
    padding: 20px;
    text-align: center;
    float: left;
}

#msg-inp{
    width:900px;
    height:200px;
    text-align: left;
    color:white;
    background:rgba(130, 46, 255,0.5);
    border-radius: 10px;
    padding: 10px;
}

.txt-foot{
    float: left;
}